<%- include ('templates/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1> FOUND AUTHOR </h1>
        <div class='row'>
            <div class='col-sm-4'></div>
            <button class='col-sm-4 btn btn-info btn-block' onclick='location.href="/";'>Search Again</button>
            <div class='col-sm-4'></div>
        </div>
    </div>
    
    <div class='row'>
        <%if(!author){%>
            <h1 class='col-sm-12 notfound'>CANNOT FIND YOUR AUTHOR !!!</h1>
        <%}
        else{%>
            <% author.forEach(function(a){ %>
            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#b<%author.quoteID%>">
                    <%a.firstName%> <%a.lastName%>
                </button>
                
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="a<%author.quoteId%>" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="a<%author.quoteId%>"> <%a.firstName%> <%a.firstName%></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        <%}%>
	</div>
</div>

<%- include ('templates/footer'); -%>